.list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin: 1rem 0;
}

.item {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  padding: 0.4rem 0.75rem;
  border-radius: 0.4rem;
  background: rgb(0 0 0 / 25%);
}

.code {
  font-size: 0.85rem;
}

.packageExample {
  margin: 0.75rem 0;
}
